.blc {
  font-size: 43px;
}

.title {
  font-size: 50px;

}

.nav-link.bg-primary.border.rounded.border-primary {
  background-color: #7289da;
}

.btn.btn-primary.btn-lg.text-center {
  color: #fff;
  background-color: #7289da;
  border-color: #7289da;
}

.caption.v-middle.text-center {
  color: #fff;
}

text-center {
  text-align: center;
}